.chat__dialog-input {
    margin: 20px;
    .chat__smile-ico {

    }
    &-area {
        border: none;
        border-radius: 10px;
    }
    & > div:first-of-type {
        display: flex;
    }
    .chat-input__attachments {
        padding: 15px 40px 0px;
    }
    .chat-input__smile-btn {
        opacity: 0.8;
        font-size: 20px;
        margin-right: 10px;
        margin-top: 7px;
        cursor: pointer;
        color: #99FFCC;
        &:hover {
            opacity: 1;
        }
    }
    .chat-input__actions {
        opacity: 0.8;
        color: #99FFCC;
        cursor: pointer;
        display: flex;
        font-size: 16px;
        align-items: center;
        margin-right: 5px;
        margin-left: 10px;
        width: 60px;
        justify-content: space-between;
        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }
    Input:focus,
    Input {
        border: 0;
        box-shadow: none;
        word-break: break-all!important;

    }
}

.chat-input__emoji-picker {
    position: absolute;
    bottom: 76px;
    z-index: 1;
}
