.large__button {
    background-color: #99f3bd !important;
    text-transform: uppercase;
    text-shadow: dimgray !important;
    color: #4e3d53!important;
    border: none !important;
    font-weight: 400!important;
    width: 180px;
    height: 40px;
}