.large__button {
    background-color: #57D9B7 !important;
    text-transform: uppercase;
    color: #fff!important;
    border: none !important;
    font-weight: 400!important;
    width: 180px;
    height: 40px;
}