.chat {
  height: 100%;
  max-width: 1140px;
  margin: 0 auto;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.04204);
  display: flex;
  .chat__sidebar {
    border: 1px solid #40404D;
    width: 320px;
    background-color: #2D2D2D;
    display: none;

    .chat__sidebar-header {
      border: 1px solid #40404D;
      margin-bottom: 20px;
      background-color: #383F44;
      color: white;
      .chat__sidebar-header-ico {
        .icon {
          display: inline-block;
          margin-right: 5px;
          color: white;
        }
      }
      display: flex;
      justify-content: space-between;
      padding: 20px;
      span {
      }
    }

    .chat__sidebar-search {
      padding: 0 20px 20px 20px;
      margin-top: 5px;
      .ant-input {
        border: 0;
        height: 38px;
        padding: 5px 11px 6px;
        background-color:#2A2A2A!important;
        border:none!important;
        color:#fff;
      }
      .ant-input-search > .ant-input-group > .ant-input-group-addon:last-child{

        .ant-input-search-button {
          background-color: #00FFCC;
          color: black;
          border: none;
          height: 38px;
        }
      }
    }


    .chat__sidebar-dialogs {
      background-color: #323333;
      height: calc(100% - 136px);
      .dialogs {
        height: 100%;
        overflow: auto;
      }
    }
  }
  .chat__sidebar.active {
    display: block;

  }

  .chat__dialogs {
    background-color: #383F44;
    flex: 1;
    .chat__dialog-message {
      background-color: #323333;
      overflow: auto;
      height: calc(100% - 151px);
    }
    .chat__dialog-header {
      padding: 11.5px;
      border: 1px solid #40404D;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .chat__dialog-header-center {
        text-align: center;
        b.chat__dialog-header-username {
          color: white;
          font-weight: bold;
          display: block;
          margin-bottom: 5px;
        }

        .chat__dialog-header-status {
          position: relative;
          display: inline-block;
          color: #D4D4D4;
          //&::before {
          //  display: block;
          //  content: '';
          //  width: 6px;
          //  height: 6px;
          //  border-right: 30px;
          //  background-color: crimson;
          //  border-radius: 50px;
          //}
          .status--online {
            &::before {
              position: absolute;
              display: block;
              content: '';
              width: 6px;
              height: 6px;
              border-right: 30px;
              background-color: greenyellow;
              border-radius: 50px;
              bottom: 0;
              margin-left: -8px;
              margin-bottom: 1px;
            }
          }
        }
      }
    }
  }
}