.message {
  padding: 20px;
  display: flex;
  max-width: 440px;


  &__avatar {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 25px;
    flex: 0 0 33px;

    img {
      max-width: 33px;
      height: 33px;
      border-radius: 50px;
      margin-right: 13px;
      margin-bottom: 23px;
    }
  }

  &__buble {
    background: #383F44;
    border-radius: 12px 12px 12px 0px;
    padding: 15px;
    margin-bottom: 8px;
    display: inline-block;
  }

  p {
    color: #fff;
  }

  &__text {
    line-height: 20px;
  }

  &__date {
    font-size: 12px;
    opacity: 0.5;
    display: block;
  }

  &__isMe {
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;
    .message__date {
      float: right;
    }
    .message__buble {
      border-radius: 12px 12px 0px 12px;
    }
  }


  &__buble-me {
    background: #99FFCC;
    max-width: 250px;
    position: relative;
    display: inline-block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.0220444);
    border-radius: 12px 12px 0px 12px;
    p {
      color: black;
      word-break: break-all;
    }

  }

  &__chek {
    margin-top: 60px;
    margin-right: 5px;

    img {
      height: 10px;
      width: 10px;
    }
  }

  .message__avatar__isMe {
    margin-left: 10px;
    img {
      margin-top: 5px;
    }
  }

  &__isMe-content {
    display: flex;
    flex-direction: row-reverse;
  }

  &__attachments {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }

  &__attachments-item {
    margin-bottom: 5px;
    cursor: pointer;

    img {
      width: 60px;
      height: 50px;
      border-radius: 8px;
    }
  }



  &__typing {
    span {
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background: #000;
      display: inline-block;
      margin-right: 8px;
      animation-name: typingAnimation;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 1s;


      &:nth-of-type(2) {
        animation-duration: 1.8s;
      }

      &:nth-of-type(3) {
        animation-duration: 1.0s;
      }
    }
  }


}

@keyframes typingAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.message__is-typing {
  .message__buble {
    margin-top: 12px;
    background-color: #c7ffd8;
    box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.04);
  }
}

.message__image-one {
  .message__attachments-item {
    position: relative;
    .message__attachments-item-prev {
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0.5;
    }
    img {
      width: 150px;
      height: 150px;
    }
  }
  .message__avatar {
      img {
        margin-bottom: 2px;
      }
  }
}

.message__is-audio {

  .message__buble {
    width: 250px;
    position: relative;
    overflow: hidden;
    background: #383F44;
  }
  .message__buble-me {
    background: #99FFCC;
  }


    .message__audio {

      audio {
        display: none;
      }
       &-info {
         justify-content: space-between;
         display: flex;
         align-items: center;
         position: relative;
       }
       &-btn {
          button {
            cursor: pointer;
            outline: none;
            border: 0;
            width: 28px;
            height: 28px;
            border-radius: 30px;
            background: black;
            img {
              width: 15px;
              height: 15px;
            }
          }
       }
      &-duration {
        color: black;
        font-weight: 500;
        opacity: 0.5;
        font-size: 12px;
      }
      .message__audio-progress{
        left: 0;
        top: 0;
        height: 100%;
        background-color: #00FF99;
        position: absolute;
        transition: width 0.5s ease;
      }
    }
}

.message__audio-me {
  flex-direction: row-reverse;

}

@media screen and (max-width: 400px) {
  .message__buble {
    max-width: 210px;
  }
}


.trash__button {
  border: none!important;
  background: none!important;
  margin-top: 5px;
  margin-right: 10px;
  span {
    color: #57D9B7!important;
  }
}

.message__date {
  color: white;
  flex-direction: row-reverse;
}

@media only screen and (max-width:400px){
  .message {
    padding: 10px;
  }
  .message__avatar__isMe {
    margin-right: -10px;
  }
}

.message__button {
  background-color:  #99FFCC;
  border: none;
}


.ant-popover-inner-content {
  background: #99FFCC;
}
